  <p>
    <%= f.label :eatery %><br />
    <%= f.collection_select :eatery_id, @eateries, :id, :name %>
  </p>

  <p>
    <%= f.label :opensAt %><br />
    <%= select_time f.object.opensAt.time, :prefix => "#{f.object_name}[opensAt]" %>
  </p>

  <p>
    <%= f.label :closesAt %><br />
    <%= select_time f.object.closesAt.time, :prefix => "#{f.object_name}[closesAt]" %>
  </p>

  <p>
    <%= f.label :daysOfWeek %><br />
    <% Date::DAYNAMES.each_index do |i| %>
      <%= Date::DAYNAMES[i].to_s.capitalize %>:
      <%= check_box_tag "#{f.object_name}[daysOfWeekHash][]", 
            Date::DAYNAMES[i].downcase.to_sym, f.object.daysOfWeekArray[i]  %>
    <% end %>
  </p>
