<h1>Listing regular_operating_times</h1>

<table>
  <tr>
    <th>Eatery</th>
    <th>Opensat</th>
    <th>Closesat</th>
    <th>Daysofweek</th>
  </tr>

<% for regular_operating_time in @regular_operating_times %>
  <tr>
    <td><%=h regular_operating_time.eatery.name %></td>
    <td><%=h regular_operating_time.opensAt.to_s %></td>
    <td><%=h regular_operating_time.closesAt.to_s %></td>
    <td><%=h regular_operating_time.daysOfWeek %></td>
    <td><%= link_to 'Show', regular_operating_time %></td>
    <td><%= link_to 'Edit', edit_regular_operating_time_path(regular_operating_time) %></td>
    <td><%= link_to 'Destroy', regular_operating_time, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New regular_operating_time', new_regular_operating_time_path %>
