<h2>Listing operating_times</h2>

<table>
  <tr>
    <th>Place</th>
    <th>Opens At</th>
    <th>Closes At</th>
    <th>Details</th>
    <th>Days Of Week</th>
    <th>Flags</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>

<% for operating_time in @operating_times %>
  <tr>
    <td><%=h operating_time.place.name %></td>
    <td><%=h operating_time.opensAt %></td>
    <td><%=h operating_time.closesAt %></td>
    <td><%=h operating_time.details %></td>
    <td><%=h operating_time.daysOfWeekString %></td>
    <td><%=h operating_time.flags %></td>
    <td><%=h operating_time.startDate %></td>
    <td><%=h operating_time.endDate %></td>
    <td><%= link_to 'Show', operating_time %></td>
    <td><%= link_to 'Edit', edit_operating_time_path(operating_time) %></td>
    <td><%= link_to 'Destroy', operating_time, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New operating_time', new_operating_time_path %>
