<p>
  <b>Place:</b>
  <%= link_to @operating_time.place.name, @operating_time.place %>
</p>

<p>
  <b>Details:</b>
  <%=h @operating_time.details %>
</p>

<p>
  <b>Start:</b>
  <%=h @operating_time.start %>
</p>

<p>
  <b>Length:</b>
  <%=h @operating_time.length %>
</p>

<p>
  <b>Details:</b>
  <%=h @operating_time.details %>
</p>

<p>
  <b>Days of Week:</b>
  <%=h @operating_time.days_of_week_string %>
</p>

<p>
  <b>Override?</b>
  <%=h @operating_time.override %>
</p>

<p>
  <b>Startdate:</b>
  <%=h @operating_time.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%=h @operating_time.endDate %>
</p>


<%= link_to 'Edit', edit_operating_time_path(@operating_time) %> |
<%= link_to 'Back', operating_times_path %>
