
  <%= render :partial => 'regular_operating_times/entryform', :locals => {:f => f} %>

  <p>
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.date_select :end %>
  </p>
