<p>
  <b>Name:</b>
  <%=h @eatery.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @eatery.location %>
</p>

<p>
  <b>Phone:</b>
  <%=h @eatery.phone %>
</p>

<p>
  <b>Open?</b>
  <%=h (@eatery.open? ? "Yes" : "No") %>
</p>


<%= link_to 'Edit', edit_eatery_path(@eatery) %> |
<%= link_to 'Back', eateries_path %>
