<h2>Listing places</h2>


<div class="tagCloud">
  <div style="font-size:2em;font-weight:bold;text-align:center;line-height:1.5em;">Tags</div>
  <div style="border-top: 1px solid black;padding-top:5px;">
  <% tag_cloud @tags, %w(size1 size2 size3 size4 size5 size6) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
  <% end %>
  </div>
</div>

<div style="position:absolute; right:0; top:0;">
  <%= link_to "Yesterday",  :at => Date.today - 1.day %><br/>
  <%= link_to "Today",      :at => Date.today         %><br/>
  <%= link_to "Tomorrow",   :at => Date.today + 1.day %><br/>
  <%= link_to Date::DAYNAMES[(Date.today + 2.day).wday],
                            :at => Date.today + 2.day %><br/>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Current Schedule</th>
    <th class="daygraph"><div>
      <% 24.times do |hour| -%>
        <% if hour % 2 == 0 %>
          <% colors = "background-color: black; color: white;" %>
        <% else %>
          <% colors = "background-color: white; color: black;" %>
        <% end %>
      <div style="<%= time_block_style(hour.hours,(hour+1).hours) + colors %> z-index: 2;"><%= hour.to_s %></div>
      <% end -%>
      <div id="nowIndicator" style="<%= time_label_style(Time.now) %>; width: 2px; background-color: red; z-index: 1;"/>
      <script>function sizeTime(){document.getElementById('nowIndicator').style.height = document.getElementsByTagName('table')[0].getHeight().toString() + "px";};document.body.setAttribute('onload','sizeTime()');</script>
    </div></tr>
  </tr>

  <style>
  </style>

<% for place in @places %>
  <% if (open = place.open?) %>
  <tr class="placeOpen" onclick="window.location='<%= url_for place %>'">
  <% else %>
  <tr class="placeClosed" onclick="window.location='<%= url_for place %>'">
  <% end %>
    <td class="placeData"><%=h place.name %></td>
    <td class="placeData"><%=h place.location %></td>
    <td class="placeData"><%=h place.phone %></td>
    <td class="placeData">
      <% if open %>
        <% schedule = place.currentSchedule %>
        <%= link_to "#{schedule.opensAt.to_s} - #{schedule.closesAt.to_s}", schedule %>
      <% end %>
    </td>
    <td class="daygraph"><div>
      <% place.daySchedule(@at).each do |time_block| -%>
        <div style="<%= time_block_style(time_block) %>"></div>
      <% end -%>
    </div></td>
<%
=begin
%>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td>
<%
=end
%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New place', new_place_path %>
