<style>
.layoutHeader { float: left; }
</style>


<div class="tagCloud">
  <div style="font-size:2em;font-weight:bold;text-align:center;line-height:1.5em;">Tags</div>
  <div style="border-top: 1px solid black;padding-top:5px;">
  <% tag_cloud @tags, %w(size1 size2 size3 size4 size5 size6) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class, :onclick => "handleTagClick('#{h tag.name}',event);return false;" %>
  <% end %>
  </div>
</div>

<script>
function handleTagClick(selectedTag,clickEvent) {
  if(clickEvent.shiftKey) {
    if(document.selectedTags == null){document.selectedTags = new Array();}
    document.selectedTags[document.selectedTags.length] = selectedTag;
  } else {
    document.selectedTags = new Array();
    document.selectedTags[0] = selectedTag;
  }
  elements = document.getElementsByTagName('div');
  for( i in elements ) {
    e = elements[i];
    if(e&&e.className&&e.className.match(/placeRow/)){
      matchedAll = true;
      document.selectedTags.forEach(function(selectedTag){
        if( matchedAll && e.className.match(selectedTag) ) {
          e.style['display'] = '';
        }else{
          e.style['display'] = 'none';
          matchedAll = false;
        }
      });
    }
  }
}
</script>

<div style="position:absolute; right:0; top:0;">
  <%= link_to "Yesterday",  :at => Date.today - 1.day %><br/>
  <%= link_to "Today",      :at => Date.today         %><br/>
  <%= link_to "Tomorrow",   :at => Date.today + 1.day %><br/>
  <%= link_to Date::DAYNAMES[(Date.today + 2.day).wday],
                            :at => Date.today + 2.day %><br/>
</div>

<div class="table">
  <%= vertical_now_indicator(Time.now) %>
  <div class="headerRow">
    <div class="header">Name</div>
    <div class="header">Location</div>
    <div class="header">Phone</div>
    <div class="dayGraph"><div class="labels">
      <% 24.times do |hour| -%>
      <div  class="color<%= (hour%2)+1%> timeblock"
            style="<%= time_block_style(hour.hours,(hour+1).hours) %>">
            <%= hour.to_s %>
      </div>
      <% end -%>
      <script>//function sizeTime(){document.getElementById('nowIndicator').style.height = document.getElementsByTagName('table')[0].getHeight().toString() + "px";};document.body.setAttribute('onload','sizeTime()');</script>
    </div></div>
  </div>

<% for place in @places %>
  <div class="placeRow <%=h placeClasses(place) %>">
    <a class="placeLink" href="<%= url_for place %>"></a>
    <div class="placeData"><%=h place.name %></div>
    <div class="placeData"><%=h place.location %></div>
    <div class="placeData"><%=h place.phone %></div>
    <div class="dayGraph"><div class="data">
      <% place.daySchedule(@at).each do |time_block| -%>
        <div class="timeblock" style="<%= time_block_style(time_block) %>"></div>
      <% end -%>
    </div></div>
<%
=begin
%>
    <div><%= link_to 'Edit', edit_place_path(place) %></div>
    <div><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></div>
<%
=end
%>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New place', new_place_path %>
