<h2>Listing places</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Current Schedule</th>
    <th class="daygraph"><div>
      <% 24.times do |hour| -%>
      <div style="<%= time_label_style(hour) %>"><%= hour.to_s %></div>
      <% end -%>
    </div></tr>
  </tr>

  <style>
  </style>

<% for place in @places %>
  <% if (open = place.open?) %>
  <tr class="placeOpen" onclick="window.location='<%= url_for place %>'">
  <% else %>
  <tr class="placeClosed" onclick="window.location='<%= url_for place %>'">
  <% end %>
    <td class="placeData"><%=h place.name %></td>
    <td class="placeData"><%=h place.location %></td>
    <td class="placeData"><%=h place.phone %></td>
    <td class="placeData">
      <% if open %>
        <% schedule = place.currentSchedule %>
        <%= link_to "#{schedule.opensAt.to_s} - #{schedule.closesAt.to_s}", schedule %>
      <% end %>
    </td>
    <td class="daygraph"><div>
      <% place.daySchedule.each do |time_block| -%>
        <div style="<%= time_block_style(time_block) %>"></div>
      <% end -%>
    </div></td>
<%
=begin
%>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td>
<%
=end
%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New place', new_place_path %>
