<% @places.each do |place| %>    
<% if RAILS_ENV == 'development' %>
    <!-- TODO: Remove the following comment (for debugging only) -->
    <!-- <%= place.inspect %> -->
<% end %>
    <div class="<%=h placeClasses place %>" id="place<%=h place.id %>">
      <div class="place_short">
        <a class="place_name" title="<%=h place.name %>" onclick="toggle_drawer('place<%=h place.id %>',event);return false;" href="<%=h url_for(place) %>">
          <span class="bubble-left"></span>
          <span class="name"><%=h place.name %></span>
          <span class="bubble-right"></span>
        </a>
        <div class="next_time">
          <% next_time_words,next_time_time = next_time place %>
          <div class="next_time_words"><%=h next_time_words %></div>
          <div class="next_time_time"><%=h next_time_time %></div>
        </div>
      </div>
      <div class="place_long" style="display:none;">
        <div class="details">
          <div class="location">Location: <span><%=h place.location %></span></div>
          <div class="phone">Phone: <span><%=h place.phone %></span></div>
          <%= link_to 'More Info', place, :class => "more_info" %>
          <a class="weekly_schedule" href="#weekly_schedule">Weekly Schedule</a>
          <div class="tags">
            <span>Tags</span>
        <% if place.tags != [] %>
          <% place.tags[0..-2].each do |tag| %>
            <a class="tag" href="#tag=<%=h tag.name %>"><%=h tag.name %></a>,
          <% end %>
            <a class="tag" href="#tag=<%=h place.tags[-1].name %>"><%=h place.tags[-1].name %></a>
        <% end # if place.tags != [] %>
          </div>
        </div>
        <!-- TODO: Load schedule info to generate timeblocks -->
        <div class="schedule"><div class="inner-schedule">
          <div class="nowindicator"></div>
          <!--  // Test timeblock
          <div class="timeblock" id="timeblock_<%=h place.id %>_0" style="left: 0%; width: 100%;">
            <div class="bubble-left"></div>
            <div class="bubble-middle"></div>
            <div class="bubble-right"></div>
          </div>
          -->
        <% place.daySchedule.each do |schedule| %>
          <div class="timeblock" id="timeblock_<%=h place.id %>_<%=h schedule.id %>" style="<%=h time_block_style(schedule) %>">
            <div class="bubble-left"></div>
            <div class="bubble-middle"></div>
            <div class="bubble-right"></div>
          </div>
        <% end # place.daySchedule.each %>
        </div></div> <!-- div.schedule, div.inner-schedule -->
      </div>
    </div>
<% end # @places.each %>







<%
=begin
%>


<!-- TODO: Reimplement under new design -->
<div class="tagCloud">
  <div style="font-size:2em;font-weight:bold;text-align:center;line-height:1.5em;">Tags</div>
  <div id="selectedTags" style="border-top: 1px solid black; padding-top:5px;">
    <% @selected_tags.each do |tag_name| %>
      <%= link_to tag_name, { :action => :tag, :id => tag_name }, :id => "selected_tag_#{tag_name}", :class => "selectedTag", :onclick => "handleTagClick('#{h tag_name}',event);return false;" %>
    <% end %>
  </div>

  <script>
    // <%= @selected_tags.inspect %>
  <% if not @selected_tags.nil? %>
    document.lockedTags = <%= @selected_tags.join(", ").inspect %>;
  <% else %>
    document.lockedTags = "";
  <% end %>
  </script>

  <div style="border-top: 1px solid black;padding-top:5px;">
  <% tag_cloud @tag_counts, %w(size1 size2 size3 size4 size5 size6) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name }, :id => "tag_#{tag.name}", :class => css_class, :onclick => "handleTagClick('#{h tag.name}',event);return false;" %>
  <% end %>
  </div>
</div>




<!-- TODO: Reimplement under new design -->
<div style="position:absolute; right:0; top:0;">
  <%= link_to "Yesterday",  :at => Date.today - 1.day %><br/>
  <%= link_to "Today",      :at => Date.today         %><br/>
  <%= link_to "Tomorrow",   :at => Date.today + 1.day %><br/>
  <%= link_to Date::DAYNAMES[(Date.today + 2.day).wday],
                            :at => Date.today + 2.day %><br/>
</div>




<!-- TODO: Reimplement under new design -->
<%= vertical_now_indicator(Time.now) %>




<!-- TODO: Reimplement under new design -->
<% for place in @places %>
    <div class="dayGraph"><div class="data">
      <% place.daySchedule(@at).each do |time_block| -%>
        <div class="timeblock" style="<%= time_block_style(time_block) %>"></div>
      <% end -%>
    </div></div>
<% end %>




<%
=end
%>
