<h1>Listing places</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Current Schedule</th>
  </tr>

  <style>
  </style>

<% for place in @places %>
  <% if (open = place.open?) %>
  <tr class="placeOpen" onclick="window.location='<%= url_for place %>'">
  <% else %>
  <tr class="placeClosed" onclick="window.location='<%= url_for place %>'">
  <% end %>
    <td class="placeData"><%=h place.name %></td>
    <td class="placeData"><%=h place.location %></td>
    <td class="placeData"><%=h place.phone %></td>
    <td class="placeData">
      <% if open %>
        <% schedule = place.currentSchedule %>
        <%= link_to "#{schedule.opensAt.to_s} - #{schedule.closesAt.to_s}", schedule %>
      <% end %>
    </td>
    <td><%= link_to 'More Info', place %></td>
<%
=begin
%>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td>
<%
=end
%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New place', new_place_path %>
