<h2>Listing places</h2>


<div style="position:absolute; right:0; top:0;">
  <a href="?at=<%= Date.today         %>">Today</a><br/>
  <a href="?at=<%= Date.today + 1.day %>">Tomorrow</a><br/>
  <a href="?at=<%= Date.today + 2.day %>"><%= Date::DAYNAMES[(Date.today + 2.day).wday] %></a>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Current Schedule</th>
    <th class="daygraph"><div>
      <% 24.times do |hour| -%>
      <div style="<%= time_label_style(hour) %>"><%= hour.to_s %></div>
      <% end -%>
      <div id="nowIndicator" style="<%= time_label_style(Time.now) %>; width: 2px; background-color: red; z-index: 1;"/>
      <script>function sizeTime(){document.getElementById('nowIndicator').style.height = document.getElementsByTagName('table')[0].getHeight().toString() + "px";};document.body.setAttribute('onload','sizeTime()');</script>
    </div></tr>
  </tr>

  <style>
  </style>

<% for place in @places %>
  <% if (open = place.open?) %>
  <tr class="placeOpen" onclick="window.location='<%= url_for place %>'">
  <% else %>
  <tr class="placeClosed" onclick="window.location='<%= url_for place %>'">
  <% end %>
    <td class="placeData"><%=h place.name %></td>
    <td class="placeData"><%=h place.location %></td>
    <td class="placeData"><%=h place.phone %></td>
    <td class="placeData">
      <% if open %>
        <% schedule = place.currentSchedule %>
        <%= link_to "#{schedule.opensAt.to_s} - #{schedule.closesAt.to_s}", schedule %>
      <% end %>
    </td>
    <td class="daygraph"><div>
      <% place.daySchedule(@at).each do |time_block| -%>
        <div style="<%= time_block_style(time_block) %>"></div>
      <% end -%>
    </div></td>
<%
=begin
%>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %></td>
<%
=end
%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New place', new_place_path %>
