  <%= stylesheet_link_tag 'places' %>
<p>
  <b>Name:</b>
  <%=h @place.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @place.location %>
</p>

<p>
  <b>Phone:</b>
  <%=h @place.phone %>
</p>

<p>
  <b>Tags:</b>
  <%=h @place.tag_list %>
</p>

<p>
  <b>Open Now?</b>
  <%=h (@place.open?(@at) ? "Yes" : "No") %>
</p>

<p>
  <b><%= link_to 'All Operating Times', '/operating_times/place/'+@place.id.to_s %></b>
</p>

<p>
  <b>Schedule for this week:</b><br/>
  <div class="weekSchedule">

    <div class="header">
      <div class="labelColumn"></div>

    <% 7.times do |i| %>
      <div class="dayColumn">
        <%= Date::DAYNAMES[(@at + i.days).wday] %>
      </div>
    <% end %>

    </div>


    <div class="data">
      <div class="labelColumn">
        <% 24.times do |hour| -%>
        <div class="color<%= hour % 2 + 1 %>" class="timeblock" style="<%= time_block_style(hour.hours,(hour+1).hours, :direction => :vertical) %> z-index: 2;"><%= hour.to_s %></div>
        <% end -%>
        <%= now_indicator %>
      </div>

    <% 7.times do |i| %>
      <div class="dayColumn">
        <%= now_indicator if i == 0 %>
      <% @place.daySchedule(@at + i.days).each do |schedule| %>
        <div class="timeblock" style="<%= time_block_style(schedule, :direction => :vertical) %>">
          <div class="opensat"><%=h schedule.opensAt %></div>
          <div class="details"><%=h schedule.details if schedule.length >= 2.hours %></div>
          <div class="closesat"><%=h schedule.closesAt %></div>
          <% link_to "#{schedule.opensAt.to_s} - #{schedule.closesAt.to_s}", schedule %>
        </div>
      <% end %>
      </div>
    <% end %>

    </div>

  </div>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
