<p>
  <b>Name:</b>
  <%=h @place.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @place.location %>
</p>

<p>
  <b>Phone:</b>
  <%=h @place.phone %>
</p>

<p>
  <b>Tags:</b>
  <%=h @place.tag_list %>
</p>

<p>
  <b>Open?</b>
  <%=h (@place.open? ? "Yes" : "No") %>
</p>

<p>
  <b>Today's Schedule:</b><br/>
    <% @place.daySchedule.each do |schedule| %>
      <%=h schedule.special ? "Special" : "Regular" %>: 
      <%= link_to "#{schedule.opensAt.to_s} - #{schedule.closesAt.to_s}", schedule %>
      <br/>
    <% end %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
